@model IEnumerable<RestaurantApp.Models.Restaurant>

@{
    ViewBag.Title = "List";
}

<h2>Список</h2>
@if (User.IsInRole("SuperAdmin") || User.IsInRole("Админ"))
{
    <p>
    @Html.ActionLink("Роли", "Index", "Role")
    </p>

}
    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Админ"))
                {
                    <text>
                        @Html.ActionLink("Персонал", "Index", "UserRoles", new { restaurantid = item.Id }, null)
                    </text>
                }
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Официант"))
                {
                    <text>
                        @Html.ActionLink("Просмотр", "Index", "OrderDetails", new { restaurantid = item.Id }, null)
                    </text>
                }

            </td>
        </tr>
    }

</table>
