<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Glory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Glory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Рестораны", "Index", "Restaurants")</li>

                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Админ"))
                    {
                        <text>

                            <li>@Html.ActionLink("Назначение должностей", "List", "Restaurants")</li>
                        </text>
                    }

                    @if (User.IsInRole("Официант"))
                    {
                        <text>
                            <li>@Html.ActionLink("Заказы", "List", "Restaurants")</li>
                        </text>
                    }
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Админ"))
                    {
                        <text>

                            <li>@Html.ActionLink("Общие детали о заказах", "Index", "Orders")</li>
                        </text>
                    }
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Glory</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
